<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="filterExercises()" color="medium" animated="true" placeholder="Animated" ></ion-searchbar>
  <ion-button id="open-modal" expand="block">Open</ion-button>
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="cancel()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
       <div class="block">
       <div>
            <ion-item>
                <form (submit)="adicionarExercicio()">
                  <input [(ngModel)]="exercicio.nome" placeholder="Nome do exercício" name="nome">
                  <input [(ngModel)]="exercicio.descricao" placeholder="Descrição do exercício" name="exercicio">
                  <input [(ngModel)]="exercicio.categoria" placeholder="Categoria do exercício" name="categoria">
                  <!-- adicione outros campos necessários -->
                  <button type="submit">Adicionar Exercício</button>
                </form>
              </ion-item>
       </div>
      </div>
    </ng-template>
  </ion-modal>

  <ion-list *ngFor="let item of filterItems" >
    <ion-item>
      <ion-card class="cardExercise"  href="#">
        <ion-card-header>
          <ion-card-title>{{item.nome}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{item.categoria}}
        </ion-card-content>
      </ion-card>
      <ion-button slot="end">
        <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
    </ion-item>
  </ion-list>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>


