<ion-div>
    <h1>Cadastrar Exercício</h1>

<div><ion-searchbar></ion-searchbar>
</div>
<div>
  <ion-list>
    <ion-item-sliding>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img/>
      </ion-thumbnail>

      <ion-div><div><h2></h2>

      </div>
  <h3> Teste</h3>
  <p><span class="informationData">Email:</span > </p>
    <a href=""> <u> <p>Ver detalhes</p></u></a>
      </ion-div>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="secondary"><img src="https://img.icons8.com/pastel-glyph/64/null/information--v1.png"/></ion-item-option>
      <ion-item-option color="danger"><img src="https://img.icons8.com/ios/50/null/trash--v2.png"/></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  </ion-list>

</div>
<div>
  <ion-card>
    <ion-card-title><input type="text" placeholder="Digite o nome do exercício"></ion-card-title>
    <ion-card-subtitle>
      <input type="text" placeholder="Variação do exercício">
</ion-card-subtitle>
<ion-card-content>
  <ion-list>
    <ion-item>
      <ion-select
        aria-label="Food"
        [compareWith]="compareWith"
        placeholder="Selecione os músculos"
        (ionChange)="handleChange($event)"
        [multiple]="true"
      >
        <ion-select-option *ngFor="let food of foods" [value]="food">{{ food.name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none">
      <ion-div>Current value: {{ currentFood | json}}</ion-div>
    </ion-item>
  </ion-list>
</ion-card-content>
  </ion-card>
</div>

</ion-div>

