<div class="firstPainel">

  <ion-list *ngFor="let user of listArray">
    <ion-card class="cardPerfil">

  <h2>{{user.name}}</h2>
  <h6><a href="/account">Editar Perfil</a></h6>
    </ion-card>
    <img class="iconImg" src="{{user.img}}" alt="">
  </ion-list>

</div>
<div class="secondPainel">
 <div class="notifications">

    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <!-- Primeiro ícone e notificação -->
          <div class="notification-icon">
            <ion-badge>9</ion-badge>
          <ion-icon name="chatbubbles-outline" class="iconsCard"></ion-icon>
          <ion-label>Feedbacks</ion-label>
          </div>
        </ion-col>

        <ion-col size="4">
          <!-- Segundo ícone e notificação -->
          <div class="notification-icon">
            <ion-badge>2</ion-badge>
          <ion-icon name="warning-outline" class="iconsCard"></ion-icon>
          <ion-label>Atenção</ion-label>
          </div>
        </ion-col>

        <ion-col size="4">
          <!-- Terceiro ícone e notificação -->
          <div class="notification-icon">
            <ion-badge>3</ion-badge>
          <ion-icon name="call-outline" class="iconsCard"></ion-icon>
          <ion-label>Contatos</ion-label>
        </div>
        </ion-col>
      </ion-row>
    </ion-grid>
 </div>
<a href="/pupils">
    <button class="icons">
      <img src="https://img.icons8.com/017bcc/treadmill"/>
      <p style="font-size: 13px;">Alunos</p>
    </button>
</a>
<a href="/history-pupils">
    <button class="icons" *ngFor="let item of listArray" (click)="pegaId(item.id)" routerLink="/history-pupils/{{item.id}}">
      <img src="https://img.icons8.com/017bcc/clock"/>
      <p>Histórico</p>
    </button>
</a>
 <a href="/schedule">
    <button class="icons" >
      <img src="https://img.icons8.com/ios/50/017bcc/view-shedule.png"/>
      <p>Agenda</p>
    </button>
 </a>

<a>
    <button class="icons">

    <img src="https://img.icons8.com/017bcc/strength"/>
    <p>Meu treino</p>
    </button>
</a>
  <a>
    <button class="icons">
    <img src="https://img.icons8.com/017bcc/guest-male"/>
    <p>Amigos</p>
    </button>
  </a>
  <a>
    <button class="icons">
    <img src="https://img.icons8.com/017bcc/swimming"/>
    <p>Natação</p>
    </button>
  </a>

  <p></p>
<ion-button (click)='logout()'></ion-button>
</div>

