.icons{
  height: 80px;
  width: 70px;
  margin-top: 180px;
  margin-bottom: -500px;
  margin-left: 13%;
  border-radius: 10px;
  background-color: transparent;
  }
  .firstPainel{
  background-color: aliceblue;
  height: 400px;
  position: relative;
  top: -50px;
  justify-content: center;
  }
  .secondPainel{
  background-color: #00006d;
  height: 250%;
  border-radius: 100px 100px 0px 0px;
  position: relative;
  top: -200px;

  }
  .cardPerfil
  {
    border-radius: 120px 0px 180px 0px;
    height: 400px;
    width: 101%;
    position: relative;
    right: 4.5%;
    top: 6.5%;
    display: flex;
  justify-content: center;
  justify-items: center;
  }
  .iconImg{
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 200px;
  top: 12%;
  left: 35%;
  }
  // .iconAlert2{
  // position: absolute !important;
  // bottom: 60.5% !important;
  // right: 78% !important;
  // }

  h2{
    position: absolute;
    top: 34%;
    }
  h6{
  position: absolute;
  top: 42%;
  }
  .imgAlert{
  position: absolute;
  left: 32%;
  bottom: 18%;
  }
  .iconText{
  position: absolute;
  bottom: 50%;
  left: 11%;
  font-size: large;
  }
.notifications{
  margin: auto;
  width: 85%;
  height: 15%;
  left: 8%;
  position: fixed;
  top: 25%;
  border-radius: 60px;
border: solid 1px white;
}
.fab-button-in-list, ion-fab-button{
  width: 80px;
  height: 80px;
}
.iconsCard{
font-size: 50px;

}
.notification-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  top: 20px;
}

.notification-icon ion-badge {
  position: absolute;
  top: -10px;
  right: 2px;
  padding: 5px 10px;
  border-radius: 50%;
}
