/* iOS places the subtitle above the title */
ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}
.card_image{
  display: flex;
  width: 800px;
  height: 35rem;
display: inline;
flex-direction: row;
}
.buttons{
  position: relative;
  top: -40px;
  left: 14%;
}
