.button-row {
  margin-top: 16px;
}
ion-card {
  margin-bottom: 16px;
}

ion-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ion-card-title {
  font-weight: bold;
}
