<ion-grid>
  <ion-col>
    <div class="firstPainel">
      <ion-list *ngFor="let user of listArray">
      <ion-card class="cardPerfil">
    <img class="iconImg" src="{{user.img}}" alt="">
  </ion-card>
</ion-list>
<div class="teste">Alterar</div>


    </div>
    <div class="secondPainel">
      <form [formGroup]="userData" *ngIf="userData" (ngSubmit)="uploadUserData()">
        <ion-list *ngFor="let user of listArray" class="editData">
          <input type="text" id="nameInput" value="{{user.name}}" placeholder="Nome" formControlName="name">
          <input type="text" value="{{user.shortName}}" placeholder="Apelido" formControlName="shortName">
          <input type="email" id="email" value="{{user.email}}" placeholder="E-mail" readonly>
          <ion-grid class="measurements">
            <ion-row>
           <h5 class="informations">  Peso</h5>
              <ion-col><h1>58</h1></ion-col>
        <h5 class="informations">    Altura</h5>
              <ion-col><h1>1,80</h1></ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>
        <ion-button color="success" type="submit">Salvar alterações</ion-button> <br>
        <ion-button color="danger" href="/tabs/tab2">Voltar ao menu</ion-button>
      </form>

    </div>

  </ion-col>

  <div class="botaoArquivo">{{ this.divHTML }}</div>
  <input type="file" (click)="openGallery()" id="fileName">
  <input type="button" value="Enviar" (click)="uploadUserData()">
</ion-grid>
