<ion-grid>
<ion-col>
    <div class="firstPainel">
      <ion-list *ngFor="let user of listArray">
        <ion-card class="cardPerfil">
        </ion-card>
          <img class="iconImg" src="{{user.img}}" alt="">
      </ion-list>
    </div>
    <div class="secondPainel">
      <ion-list *ngFor="let user of listArray" class="editData">
      <input type="text" value="{{user.name}}" placeholder="Nome">
    <input type="text" value="{{user.shortName}}" placeholder="Apelido">
    <input type="email" id="email" value="{{user.email}}" placeholder="E-mail" readonly>
    <input type="password" id="passwordEdit" placeholder="Atualize sua senha">
    <input type="password" placeholder="Confirme sua senha">
      </ion-list>
      <ion-button color="success">Salvar alterações</ion-button> <br>
      <ion-button color="danger">Voltar ao menu</ion-button>

    </div>

</ion-col>
<div class="botaoArquivo">{{   this.divHTML  }}</div>
  <input type="file" (click)="openGallery()" id="fileName">
  <input type="button" (click)="uploadImageUser()" value="Enviar">
  <input type="button" value="Alo" id="upload" (click)="uploadImage()">

</ion-grid>
