ion-img{
  width: 20px;
  height: 20px;
  position: relative;
top: -8px;
}
ion-label{
font-size: 10px;
position: relative;
top: -8px;
}
ion-tab-bar{
  position: relative;
  top: -20px;
  background-color: black;
}
