ion-toolbar{
  --ion-toolbar-color: #FFF;
  background-color: rgba(0, 0, 0, 0.247);
}
  .imgTrainingBox {
    box-sizing: border-box;
    position: absolute;
    width: 92%;
    height: 40%;
    left: 3%;
    top: 20px;
    background: transparent;
    border-radius: 10px;
    border-width: 1px;
    border-color: #FFF;
    box-shadow: 0.5px 0.5px 0.5px 2px #003655;

  }
  .imgTraining{
    max-width:100%;
    height:auto;
    object-fit: cover;
  }
.card{
  width: 90%;
  height: 140px;
  position: fixed;
  top: 50%;
  background-color: #f1f2f3;
  color: #003655;
  box-shadow: 1px 1px 2px 1px #212122;
}
.card2{
  width: 90%;
  height: 140px;
  position: fixed;
  top: 70%;
  background-color: #f1f2f3;
  color: #003655;
  box-shadow: 1px 1px 2px 1px #212122;
}

