.card-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.aluno-foto-container {
  margin-right: 10px;
}

.feedback-card {
  border-radius: 8px;
  width: 100%;
}

.expandir-button {
  --background: transparent;
  --color: #007bff;
  --border: none;
  --padding-start: 0;
  --padding-end: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5px;
}

.expandir-button ion-icon {
  font-size: 16px;
  margin-start: 5px;
}

.responder-button {
  --background: transparent;
  --color: #007bff;
  --border: none;
  position: absolute;
  top: 10px;
  right: 10px;
}
