ion-content {
    --background: #ffffff; /* Fundo branco */
    color: #1e2939; /* Texto em azul escuro */

    .card-container {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      .aluno-foto-container {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        overflow: hidden;

        ion-img.aluno-foto {
          width: 100%;
          height: 100%;
        }
      }

      ion-card.feedback-card {
        flex: 1;
        background-color: #1e2939; /* Fundo azul escuro */
        color: #ffffff; /* Texto em branco */

        ion-card-header {
          ion-card-subtitle.data-feedback {
            color: #8a8a8a; /* Texto em cinza */
          }

          ion-card-title.aluno-nome {
            font-weight: bold;
          }

          ion-card-title.exercicio-nome {
            margin-top: 0.5rem;
          }

          ion-card-title.status-feedback {
            margin-top: 0.5rem;
            font-size: 0.875rem;
            &.aguardando {
              color: #fbbc04; /* Texto em amarelo */
            }
            &.respondido {
              color: #26ae60; /* Texto em verde */
            }
          }
        }

        ion-card-content {
          margin-top: 1rem;
          &.collapsed {
            display: none;
          }
        }

        ion-button.expandir-button {
          color: #ffffff; /* Texto em branco */
          background-color: #1e2939; /* Fundo azul escuro */
          ion-icon {
            color: #ffffff; /* Cor branca */
          }
        }

        ion-button.responder-button {
          color: #ffffff; /* Texto em branco */
          background-color: #2800bb; /* Fundo azul escuro */
          ion-icon {
            color: #ffffff; /* Cor branca */
          }
        }

        ion-button.recolher-button {
          color: #1e2939; /* Texto em azul escuro */
          background-color: transparent; /* Fundo transparente */
          border: none; /* Remover borda */
          ion-icon {
            color: #1e2939; /* Cor azul escuro */
          }
        }
      }
    }
  }

