<div class="firstPainel">

  <ion-list *ngFor="let item of list">
    <ion-card class="cardPerfil">

  <h2>{{item.name}}</h2>
  <h6><a href="/account">Editar Perfil</a></h6>
    </ion-card>
    <img class="iconImg" src="{{item.img}}" alt="">
  </ion-list>

<a>
    <button class="iconAlert icons">
      <p class="iconText">Alertas</p>
      <img class="imgAlert" src="https://img.icons8.com/ios/30/000000/alarms.png"/>
    </button>
</a>
  <!-- <button class="iconAlert2 icons">
    Alertas
  </button> -->
</div>
<div class="secondPainel">
<a>
    <button class="icons">
      <img src="https://img.icons8.com/017bcc/user/"/>
      <p style="font-size: 13px;">Feedback</p>
    </button>
</a>
<a>
    <button class="icons">
      <img src="https://img.icons8.com/017bcc/user/"/>
      <p></p>
    </button>
</a>
 <a href="/schedule">
    <button class="icons" >
      <img src="https://img.icons8.com/017bcc/user/"/>
      <p>Agenda</p>
    </button>
 </a>

<a>
    <button class="icons">

    <img src="https://img.icons8.com/017bcc/user/"/>
    <p>Feedback</p>
    </button>
</a>
  <a>
    <button class="icons">
    <img src="https://img.icons8.com/017bcc/user/"/>
    <p>Feedback</p>
    </button>
  </a>
  <a>
    <button class="icons">
    <img src="https://img.icons8.com/017bcc/user/"/>
    <p>Feedback</p>
    </button>
  </a>
  <p></p>
</div>

