<div class="firstPainel">

  <ion-card class="cardPerfil">

<h2>Daniel Monteiro da Silva Torquato</h2>
<h6><a>Editar Perfil</a></h6>
  </ion-card>
  <img class="iconImg" src="../../../../assets/img/vitor.PNG" alt="">
  <button class="iconAlert icons">
    <p class="iconText">Alertas</p>
    <img class="imgAlert" src="https://img.icons8.com/ios/30/000000/alarms.png"/>
  </button>
  <!-- <button class="iconAlert2 icons">
    Alertas
  </button> -->
</div>
<div class="secondPainel">
  <button class="icons">
    <img src="https://img.icons8.com/017bcc/user/"/>
    <p style="font-size: 13px;">Feedback</p>
  </button>
  <button class="icons">
    <img src="https://img.icons8.com/017bcc/user/"/>
    <p>Feedback</p>
  </button>
  <button class="icons">
    <img src="https://img.icons8.com/017bcc/user/"/>
    <p>Feedback</p>
  </button>

  <button class="icons">

  <img src="https://img.icons8.com/017bcc/user/"/>
  <p>Feedback</p>
  </button>
  <button class="icons">
  <img src="https://img.icons8.com/017bcc/user/"/>
  <p>Feedback</p>
  </button>
  <button class="icons">
  <img src="https://img.icons8.com/017bcc/user/"/>
  <p>Feedback</p>
  </button>
</div>
